@using System.Web.Optimization
<!DOCTYPE html>
<head>
    <meta charset=utf-8>
    <title>@ViewBag.Title | Phần mềm quản lý phòng trọ trực tuyến</title>
    <!-- Mobile specific metas -->
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <![endif]-->
    <meta name=author content="">
    <meta name=description content="">
    <meta name=keywords content="">
    <meta name=application-name content="">
    <!-- Import google fonts - Heading first/ text second -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel=stylesheet type=text/css>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel=stylesheet type=text/css>
    <!-- Css files -->
    <link rel=stylesheet href='~/Content/css/main.min.css'>
    <link rel=stylesheet href='~/Content/css/site.css'>
    <!-- Fav and touch icons -->
    <link rel=apple-touch-icon-precomposed sizes=144x144 href=Content/img/ico/apple-touch-icon-144-precomposed.png>
    <link rel=apple-touch-icon-precomposed sizes=114x114 href=Content/img/ico/apple-touch-icon-114-precomposed.png>
    <link rel=apple-touch-icon-precomposed sizes=72x72 href=Content/img/ico/apple-touch-icon-72-precomposed.png>
    <link rel=apple-touch-icon-precomposed href=Content/img/ico/apple-touch-icon-57-precomposed.png>
    <link rel=icon href=~/Content/img/ico/favicon.ico type=image/png>
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name=msapplication-TileColor content="#3399cc">

    <!-- Javascripts -->
    <!-- Load pace first -->
    <script src='~/Content/plugins/core/pace/pace.min.js'></script>
    <!-- Important javascript libs(put in all pages) -->
    <script src='~/Content/js/libs/jquery-2.1.1.min.js'></script>
    <script src='~/Content/plugins/ui/bootstrap-sweetalert/sweet-alert.js'></script>

    <script>window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')</script>
    <script src='~/Content/js/libs/jquery-ui-1.10.4.min.js'></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')</script>
    <script src='~/Content/js/libs/jquery-migrate-1.2.1.min.js'></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-migrate-1.2.1.min.js">\x3C/script>')</script>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/libs/excanvas.min.js">
    </script>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js">
    </script>
      <script type="text/javascript" src="js/libs/respond.min.js">
    </script>
    <![endif]-->
    @Styles.Render("~/Bundles/css")
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/treegrid/jquery.treegrid.min.js"></script>
    <script src="~/Content/plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>

    <script src='~/Scripts/jquery.validate.min.js'></script>
    <script src='~/Scripts/jquery.validate.unobtrusive.min.js'></script>
    <script src='~/Scripts/jquery.unobtrusive-ajax.min.js'></script>

    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.408/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    @*<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jquery.min.js")"></script>*@


</head>
<body>
    <!--[if lt IE 9]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- .#header -->
    <div id=header>
        <nav class="navbar navbar-default" role=navigation>
            <div class=navbar-header>
                <a class=navbar-brand href=@Url.Action("Index","Dashboard",new {Area="" })>
                    SAP.<span class=slogan>Integration</span>
                </a>
            </div>
            <div id=navbar-no-collapse class=navbar-no-collapse>
                @Html.Partial("_MenuTop")
                @Html.Partial("_LoginUser")
            </div>
            <!-- /.nav-collapse -->
        </nav>
        <!-- /navbar -->
    </div>
    <!-- / #header -->
    <div id=wrapper>
        <!-- #wrapper -->
        <!--Sidebar background-->
        <div id=sidebarbg class="hidden-lg hidden-md hidden-sm hidden-xs">
        </div>
        <!--Sidebar content-->
        <div id=sidebar class="page-sidebar hidden-lg hidden-md hidden-sm hidden-xs">
            @Html.Partial("_Shortcuts")
            <!-- End search -->
            <!-- Start .sidebar-inner -->
            @Html.Partial("_MenuLeft")

            <!-- End .sidebar-inner -->
        </div>
        <!-- End #sidebar -->
        <!--Sidebar background-->
        <div id=right-sidebarbg class="hidden-lg hidden-md hidden-sm hidden-xs">
        </div>
        <!-- Start #right-sidebar -->
        <aside id=right-sidebar class="right-sidebar hidden-lg hidden-md hidden-sm hidden-xs">
            <!-- Start .sidebar-inner -->
            <div class=sidebar-inner>
                <!-- Start .sidebar-scrollarea -->
                @Html.Partial("_Timeline")

                <!-- End .sidebar-scrollarea -->
            </div>
            <!-- End .sidebar-inner -->
        </aside>
        <!-- End #right-sidebar -->
        <!--Body content-->
        <div id=content class="page-content clearfix">
            <div class=contentwrapper>
                <!--Content wrapper-->
                <div class=heading>
                    <!--  .heading-->
                    <h3><span id="heading-title">@ViewBag.Title</span></h3>
                    <div class=resBtnSearch>
                        <a href=#>
                            <span class="s16 icomoon-icon-search-3">
                            </span>
                        </a>
                    </div>
                    @RenderSection("SiteMap", false)
                </div>
                <!-- End  / heading-->
                <div id="main-container">
                    @RenderBody()
                </div>
            </div>
            <!-- End contentwrapper -->
        </div>
        <!-- End #content -->
        <div id=footer class="clearfix sidebar-page right-sidebar-page">
            <!-- Start #footer  -->
            @Html.Partial("_Footer")
        </div>
        <!-- End #footer  -->
    </div>
    <!-- / #wrapper -->
    <!-- Back to top -->
    <div id=back-to-top>
        <a href=#>Back to Top</a>
    </div>
</body>


<!-- Google Analytics:  -->
@*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-3560057-23', 'auto');
        ga('send', 'pageview');
    </script>*@

@RenderSection("Scripts", false)
<script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
@Scripts.Render("~/Bundles/js")

<script src="@Url.Content("~/Scripts/kendo/2015.1.408/jszip.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.all.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo/2015.1.408/kendo.aspnetmvc.min.js")"></script>
<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>


